_ReSharper*/
[Tt]est[Rr]esult*
Desarrollo/
obj/
Setup/sb-cache/
Setup/sb_mergemodule-cache/
Thumbs.db
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.vshost.*
*.exe.config
